@import "uikit.min";
@import "mediaplayer.min";

@import url('https://fonts.googleapis.com/css?family=Lobster');

// headline

h1 {
  text-transform: uppercase;
}

.char1 {
  color: orange;
}

.char7 {
  color: green;
}

// SPECIFICITY
// score key: inlines, pound, dots, elements
// score: 0, 0, 0, 2

body h1, article p {
  font-family: 'Lobster', cursive;
}